### folders
node_modules
coverage
.idea
test
scripts
.vscode
.vs_code
example

### files
yarn.lock
.editorconfig

### matching
*.DS_Store
*.log
*.md
*.json
*.yml
*.txt
*.sh
*.ts

### negation
!index.d.ts




