

### folders
.nyc_output
coverage
.idea
test
scripts
.vscode
example
src

### files
yarn.lock
.editorconfig
.npmignore
.gitignore
.dockerignore

### matching

*.log
*.md
*.json
*.yml
*.txt
Dockerfile*





